[submodule "sources_forked/tagbar"]
	path = sources_forked/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "sources_forked/fugitive"]
	path = sources_forked/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "sources_forked/minibufexplorer"]
	path = sources_forked/minibufexplorer
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "sources_forked/vim-scala"]
	path = sources_forked/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "sources_forked/vim-tomorrow"]
	path = sources_forked/vim-tomorrow
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "sources_forked/vim-yard"]
	path = sources_forked/vim-yard
	url = https://github.com/postmodern/vim-yard.git
[submodule "sources_forked/sonictemplate"]
	path = sources_forked/sonictemplate
	url = https://github.com/mattn/sonictemplate-vim.git
[submodule "sources_forked/jedi-vim"]
	path = sources_forked/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
